<StackLayout class="form" row="1" col="0" colSpan="3">
    <Label text="Fill up this Form" underline="true" fontAttributes="Bold"  class="h1 text-center"></Label>
    <StackLayout class="input-field">
        <TextField hint=" Enter your name...." class="input" type="text" [(ngModel)]="field1"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
        <TextField hint=" Enter your role...." class="input" type="text" [(ngModel)]="field2"></TextField>
    </StackLayout>
    <Button text="Submit" (tap)="onSubmit()" class="button"></Button>
</StackLayout>

