<ActionBar title="Back" [nsRouterLink]="['/grid']" >
    <!-- <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="goBack()"></NavigationButton>-->
    <!-- <ActionItem ios.position="left" text="Back" [nsRouterLink]="['/grid']"></ActionItem>  -->
    <ActionItem ios.position="right" text="Soccer" [nsRouterLink]="['/socker']"></ActionItem>
    <ActionItem ios.position="right" text="Artist" [nsRouterLink]="['/artist']"></ActionItem>
    <ActionItem ios.position="right" text="Image" [nsRouterLink]="['/image']"></ActionItem>
</ActionBar>

<GridLayout class="form" columns="*" rows="*,230">
    <GridLayout col="0" row="0" colSpan="0" rowSpan="1">
        <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
</GridLayout>

<GridLayout row="1" col="0" colSpan="3">
        <ns-activity4 (SendInfo)='info($event)'></ns-activity4>
    </GridLayout>
</GridLayout>