.form{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0JcMqDbTKqDTjfIRNAVocyiQbOGq3eutkuDkuMOyTuqb7lTPC");
    background-size: cover;
    background-repeat: no-repeat;
}