<!-- <GridLayout columns="*" rows="*,*,*,50">
    <GridLayout col="0" row="0" colSpan="4" rowSpan="2">
        <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
</GridLayout>

<GridLayout row="2" col="0" colSpan="">
    <Button text="Back" class = "my-button" [nsRouterLink]="['/items']"></Button><br><br>   
</GridLayout> -->


 <ns-items [Type]= "Soccer"></ns-items>
